<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="sidenav.close()">
        <mat-icon>face</mat-icon>
        <span class="nav-cpation">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="sidenav.close()">
        <mat-icon>login</mat-icon>
        <span class="nav-cpation">Login</span>
    </a>
    <a mat-list-item routerLink="/training" (click)="sidenav.close()">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-cpation">Training</span>
    </a>
    <a mat-list-item (click)="sidenav.close()">
        <mat-icon>logout</mat-icon>
        <span class="nav-cpation">Logout</span>
    </a>
</mat-nav-list>